<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users Per Course</title>
  </head>
  <body>
    <form action="{% url 'courses:add_user' %}" method='post'>
    {% csrf_token %}
      <select name='user'>
        {% for user in users %}
            <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
        {% endfor %}
      </select>
      <select name='course'>
        {% for course in courses %}
          <option>{{course.name}}</option>
        {% endfor %}
      </select>
      <input type='submit' value='Add User To Course'>
    </form>
    <table>
      <thead>
        <tr>
          <th>Course</th>
          <th>Title</th>
          <th>Number of Users</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{course.name}}</td>
            <td>{{course.description}}</td>
            <td>{{course.user_count}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{% url 'courses:index' %}" method='post'>
    {% csrf_token %}
      <input type='submit' value='Return Home'>
    </form>
  </body>
</html>
