<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Great Number Game!</title>
    <style type='text/css'>
      *{
        text-align: center;
      }
      div{
        width:150px;
        height:150px;
        background-color: red;
        color:white;
        margin-left: auto;
        margin-right: auto;
      }
      div h2{
        transform: translateY(60px);
      }
      input[type='text']{
        margin: 10px auto;
      }
    </style>
  </head>
  <body>
    <h3>Welcome to the Great Number Game</h3>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess!</p>
    <div>
      <h2>Too high!</h2>
    </div>
    <form action='/discern' method='post'>
      <input type='text' name='guess'>
      <br>
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>
