#total_gold{
  display: inline-block;
  border: 3px solid black;
  width: 175px;
  margin: 0px 10px;
  padding: 2px;
}
.buildings{
  text-align: center;
  display:inline-block;
  margin: 10px;
  border: 3px solid black;
  padding: 5px;
}
.buildings input{
  box-shadow: 2px 2px 2px black;
}
#activities{
  width: 624px;
  height: 400px;
  padding: 5px;
  margin: 10px;
  overflow:scroll;
  border: 3px solid black;
}
.earn{
  color:green;
}
.lose{
  color:red;
}
