<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete a course</title>
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'courses/css/destroy.css' %}">
  </head>
  <body>
    <h2>Are you sure you want to delete the following course?</h2>
    <label>Name:
      <p>{{course.name}}</p>
    </label>
    <label>Description:
      <p>{{course.description}}</p>
    </label>
    <div>
      <form action='/' method='post'>
        {% csrf_token %}
        <input type='submit' value='No'>
      </form>
      <form action='/courses/delete' method='post'>
        {% csrf_token %}
        <input type='submit' value='Yes! I want to delete this'>
        <input type='hidden' value="{{course.id}}" name='course_id'>
      </form>
  </body>
</html>
