<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'dojo_secrets/css/index.css' %}">
  </head>
  <body>
    <div>
      <h1>Hello, {{logged_in_user.first_name}}!</h1>
      <a href="{% url 'log_reg' %}">(log out)</a>
    </div>
    <form action="{% url 'secret' %}" method='post'>
      {% csrf_token %}
      <textarea placeholder='Your secret here' rows=10 columns=40 name='secret'></textarea>
      <input type='submit' value='Post'>
    </form>
    <a href="{% url 'popular' %}">Most Popular Secrets</a>
    <h1>Recent Secrets...</h1>
      {% for secret in secrets %}
        <div><p>{{secret.secret}} ({{secret.created_at|timesince}} ago) {{secret.like_count}} likes
          {% if logged_in_user == secret.user %}
            <b>You posted this</b> <form action="{% url 'delete' %}" method='post'>{% csrf_token %} <button value="{{secret.id}}" name='deleting_secret'>Delete</button></form></p></div>
          {% elif secret in logged_in_user_liked_secrets %}
            <b>You liked this</b></p></div>
          {% else %}
            <form action="{% url 'like' %}" method='post'>{% csrf_token %}<button value="{{secret.id}}" name='liked_secret'>Like</button></form></p></div>
          {% endif %}
      {% endfor %}
  </body>
</html>
