#header{
  margin: 15px auto;
  width: 300px;
  height: 30px;
  border: 3px solid black;
  text-align: center;
}
#header p{
  margin-top: 4px;
}
#time_box{
  width: 650px;
  height: 120px;
  margin: 5px auto;
  border: 3px solid black;
  text-align: center;
}
h1{
  margin-top: 40px;
}
