<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random Word Generator</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'random_word_generator/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <h3>Random Word (attempt #{{request.session.attempt}})</h3>
    <div>
      <p>{{request.session.random_word}}</p>
    </div>
    <form action='/random'>
      {% csrf_token %}
      <input type='submit' value='Generate'>
    </form>
  </body>
</html>
